.user-profile-creation {
    overflow: auto;
    max-width: 90rem;
    padding: 1rem;

    input[type="file"] {
        display: none;
    }

    form {
        overflow: auto;
    }

    &__fields {
        margin: 2rem auto 2rem;
        overflow: auto;
    }

    .d-flex {
        margin-top: 1in;
        @media screen and (min-width: 800px) {
            display: flex;
        }
    }

    .d-flex__left,
    .d-flex__right {
        width: 100%;
    }

    .d-flex__left {
        @media screen and (min-width: 800px) {
            &:not(:last-child) {
                margin-right: 5rem;
            }
        }
    }

    .field {
        margin-bottom: 2.5rem;
    }

    &__avatar,
    &__bio {
        // >= 800px
        @media screen and (min-width: 800px) {
            margin-bottom: 1in;
        }
    }

    &__label {
        &--image {
            width: 120px;
            height: 120px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top 30% center;

            &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 120px;
                height: 120px;
                border-radius: 15px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                content: "\f055";
                font-family: FontAwesome;
                font-size: 2em;
                color: $menu-color;
            }
        }

        &--has-an-image {
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 15px;
                background: $bk-color-thumbnail;
                content: " ";
                transition: ease-in-out 750ms;
            }

            &::after {
                content: "\f055";
                color: $menu-color;
            }
        }
    }

    &__thumbnail {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__textarea {
        border-radius: 10px;
    }

    &__field.field {
        @media screen and (max-width: 800px - 1px) {
            margin-bottom: 2rem;
        }
    }

    &__field--email {
        @media screen and (max-width: 800px - 1px) {
            margin-top: 0.5in;
        }
    }

    &__button {
        margin: 1rem 0;

        &--update {
            float: right;
            margin-bottom: 0.5in;
        }

        @media screen and (max-width: 800px - 1px) {
            float: right;
        }

        @media screen and (min-width: 800px) {
            grid-column: 2;
            width: fit-content;
            justify-self: flex-end;
        }
    }

    &__modal-activation {
        margin-bottom: 1rem;
        color: $button-color;
        text-decoration: underline;
        float: right;
        cursor: pointer;
    }

    &__modal-activation {
        clear: right;
    }
}
