.header{
    background-image: url('/images/fronts/home.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    min-height:55vh;
    padding: 1rem;
    position: relative;

    &__title{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size:45px;
        color:$menu-color;
        font-weight:900;
        text-align:center;
        max-width: 50rem;
    }
}