/*COLORS*/
$menu-color:#fff;
$white-two:#fcfcfc;
$default-background-color: #fafafa;
$note-btn:#f7f7f7;
$admin-nav:#e7e7e7;
$inactive-leaf-color:#d3d3d3;
$label-color:#808080;
$default-text-color: #050505;
$leaf-icon-color:#316b01;
$nav-link-color:#ff4f0c;
$header-important-word-color:#de4700;
$button-color:#dc1500;
$notification-color:#2af0b5;
$see-button:#439ec9;
$bk-color-thumbnail:rgba(94, 94, 94, 0.341);

/*TEXT SIZE*/

$time-notification:14px;
$notification-text:16px;
$section-heading-size:19px;
$project-create-heading-size:25px;
$project-card-border-radius:30px;
$tag-border-radius:50px;
/*TEXT WEIGHT*/

$font-regular:400;
$font-medium:500;
$font-semi-large:600;
$font-bold:700;

/*TEXT TRANSOFRMATION*/

$upc: uppercase;