.project-card {
    max-width: 20rem;
    border-radius: 20px;
    position: relative;
    margin: auto;

    &__checkbox-box {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 5rem;
    }

    &__button {
        &--delete {
            padding: 0;
            width: 40px;
            height: 40px;
        }
    }

    &__checkbox-label {
        margin-top: 5px;
    }

    &__checkbox {
        width: 30px;
        height: 30px;
        border-radius: 15%;
    }

    &__thumbnail {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
        object-position: center;
    }

    &__authors-profile-link {
        position: absolute;
        top: 110pt;
        left: 1rem;
        z-index: 10;
    }
    &__media-left {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        cursor: pointer;
    }

    &__image.is-40x40 {
        height: 40px;
        width: 40px;
        object-fit: cover;
        position: relative;
        z-index: 1;
    }

    &__author-username {
        font-weight: 700;
        background-color: white;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        padding: 0.1rem 1.5rem;
        height: fit-content;
        width: fit-content;
        position: relative;
        left: -10px;
        z-index: 0;
    }

    &__title {
        font-size: 1.3rem;
        margin-top: 1.5rem;
    }

    &__difficulty-level {
        padding: 0.2rem 0.5rem;
        border-radius: 50px;
        color: white;

        &--easy {
            background-color: #167503;
        }

        &--medium {
            background-color: rgb(255, 174, 0);
        }

        &--hard {
            background-color: rgb(240, 0, 0);
        }
    }

    &__infos {
        display: flex;
        justify-content: space-around;
    }

    .card-content {
        padding: 1.5rem 1rem !important;
    }

    &__content p,
    &__content p span {
        text-align: left;
        font-size: 16px !important;
    }

    &__action-buttons-box {
        position: relative;
        z-index: 10;
        float: right;
        top: 1rem !important;
        right: 1rem !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 5.5rem;
    }

    &__edit-button {
        padding: 0;
        width: 40px;
        height: 40px;
    }

    &__delete-button {
        padding: 0;
        width: 40px;
        height: 40px;
    }
}
