.comments-section {
    &__title {
        font-size: 1.3rem;
    }

    &__media {
        margin-bottom: 1rem;
    }

    &__textzone {
        overflow: auto;
    }

    &__textarea {
        border-radius: 10px;
    }

    &__button {
        &--submit {
            float: right;
            margin-top: 1rem;
            border-color: #167503;
            color: #167503;

            &:hover {
                color: #167503;
                border-color: #167503;
                background-color: darken(#fff, 1%);
            }
        }
    }

    &__list {
        overflow: auto;
        margin-top: 1in;
    }

    &__no-comment-box {
        background-color: rgb(250, 250, 250);
        border-radius: 10px;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
